@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
	width: auto;
	font-family: 'Oswald', sans-serif;
	font: 1em;
}

.main-wrapper {
	background: #140C09 url("https://raw.githubusercontent.com/superstuckattack/wowua/571e8102ebc1751caf59b2be7ec0832d90a5204c/assest/img/main-bg.svg") center top no-repeat;
  	background-size: cover; /* Масштабувати зображення, щоб воно покривало весь фон */
  	background-position: center; /* Вирівнювання зображення по центру */
 	background-repeat: no-repeat; /* Заборонити повторення зображення */
	width: auto;
	height: 95vh;
}

.navbar {
    background-color: #172735;
}

.active {
	color: #fff;
}

.nav-link {
	color: #007bff;
}

.nav-link:hover {
	color: rgba(255, 255, 255, .8);
}